<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
   <main>
      <%  if (orders.length <= 0) { %>
         <h1>Nothing there!</h1>
      <% } else { %>
         <ul class="cart__item-list">
            <% orders.forEach(orderData => { %>
               <li class="cart__item">
                 <div>
                   <h1>Order Number: <%= orderData._id %></h1>
                  <h1>Ordered By: <%= orderData.user.name %></h1>
                 </div>
                  <ul class="cart__item-list">
                     <% orderData.products.forEach(item => { %>
                   
                        <li class="cart__item_in">
                           <h1>Product: <%= item.title %></h1>
                           <h2>Quantity: <%= item.quantity %></h2>
                           <a href="/orders/<%=orderData._id %>">Invoice</a>
                        </li>
                     <% }) %>
                  </ul>
               </li>
            <% }) %>
         </ul>
      <% } %>
   </main>
    <%- include('../includes/body.ejs') %>
    